<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div class="col-lg-12 text-center m-t-md">
                <h2>
                    Dashboard come here
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>No. of Users.</li>
                    <li>total views, yesterday, today, last week</li>
                    <li>active campaigns</li>
                    <li>total users logged into analytics page</li>
                    <li>latest campaigns by last activity date</li>
                </ul>
            </div>
        </div>
    </div>
</div>
